<div class="p-2 text-center">
  <p>{{ section.settings.announcement_text }}</p>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement",
        "default": "Welcome to our store!",
        "info": "Text that will appear on top"
      }
    ]
  }
{% endschema %}