<div
  class="bg-black text-white py-8 px-10 items-center"
  x-data="{ isSidebarOpen: false, isSearchOpen: false }"
  x-cloak>
  {% assign header_links = linklists[section.settings.menu].links %}
  {% render 'component-web-header-navs', headerLinkProp: header_links %}
  {% render 'component-mobile-header' %}
  {% render 'component-searchbar' %}
  {% render 'component-sidebar', headerLinkProp: header_links %}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }, {
        "type": "text",
        "id": "search_placeholder",
        "label": "Search Placeholder",
        "default": "Search here",
        "info": "Text that will appear on search bar"
      }, {
        "type": "text",
        "id": "sidebar_title",
        "label": "Sidebar Title",
        "default": "OnlyKeebs",
        "info": "Text that will appear on the sidebar"
      }
    ]
  }
{% endschema %}