<div class="bg-zinc-700 pt-12">
  <h2 class="text-4xl md:text-7xl text-center py-2">Switch Guide</h2>
  <div class="container mx-auto p-8">
    <div class="flex flex-wrap rounded-xl bg-white text-black items-center ">
      <img
        src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.0/c_scale,w_400/ncom/en_US/switch/site-design-update/oled-model-promo"
        alt="Linear Switch"
        class="h-96 object-cover rounded-t-xl md:rounded-none md:rounded-l-xl flex-1">
      <div class="container flex-1 px-8">
        <h2 class="text-5xl md:text-7xl my-8">
          <strong>Linear.</strong>
        </h2>
        <p class="my-8">Linear switches are a type of switch that focus on producing a smooth, consistent actuation without any tactile feedback.
          Linear switches are great for people who don’t like the small bump experienced from tactile switches or the loud noises from clicky switches.</p>
        <a href=""></a>
      </div>
    </div>
  </div>
  <div class="container mx-auto p-8">
    <div class="flex flex-wrap my-12 rounded-xl bg-white text-black items-center ">
      <img
        src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.0/c_scale,w_400/ncom/en_US/switch/site-design-update/oled-model-promo"
        alt="Linear Switch"
        class="h-96 object-cover rounded-t-xl md:rounded-none md:rounded-l-xl flex-1">
      <div class="container flex-1 px-8">
        <h2 class="text-5xl md:text-7xl my-8">
          <strong>Linear.</strong>
        </h2>
        <p class="my-8">Linear switches are a type of switch that focus on producing a smooth, consistent actuation without any tactile feedback.
          Linear switches are great for people who don’t like the small bump experienced from tactile switches or the loud noises from clicky switches.</p>
        <a href=""></a>
      </div>
    </div>
  </div>
  <div class="container mx-auto p-8">
    <div class="flex flex-wrap my-12 rounded-xl bg-white text-black items-center ">
      <img
        src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.0/c_scale,w_400/ncom/en_US/switch/site-design-update/oled-model-promo"
        alt="Linear Switch"
        class="h-96 object-cover rounded-t-xl md:rounded-none md:rounded-l-xl flex-1">
      <div class="container flex-1 px-8">
        <h2 class="text-5xl md:text-7xl my-8">
          <strong>Linear.</strong>
        </h2>
        <p class="my-8">Linear switches are a type of switch that focus on producing a smooth, consistent actuation without any tactile feedback.
          Linear switches are great for people who don’t like the small bump experienced from tactile switches or the loud noises from clicky switches.</p>
        <a href=""></a>
      </div>
    </div>
  </div>
</div>